#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    max-width: 100%;
    max-height: 100vh;
}

body, nav, header, section, footer {
    position: relative;
    z-index: 1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f0f0f0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black; /* Hintergrundfarbe entfernt */
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    margin-right: 10px;
}

.navbar a {
    color: white; /* Weiße Schrift beibehalten */
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar a:hover {
    color: #666;
}

.navbar a.active {
    color: magenta; /* Magenta für den aktiven Tab beibehalten */
    position: relative;
}

.navbar a.active::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid magenta; /* Match der Farbe des aktiven Tabs */
    border-radius: 2px;
}

.navbar a.active::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: magenta; /* Match der Farbe des aktiven Tabs */
}

body {
    padding-top: 50px;
}

.content-wrapper {
    position: relative;
    z-index: 1;
    padding-top: 50px;
}

.content {
    overflow-y: auto;
    height: 100vh;
    padding: 20px;
}

header, section {
    padding: 100px 20px;
    text-align: center;
}

.logo-big {
    position: absolute;
    top: 20px;
    left: 50%; /* Zentriert auf 50% der Seitenbreite */
    transform: translateX(-50%); /* Korrektur für die zentrale Ausrichtung */
    margin-top: 15px;
    max-width: 10%;
}

.logo-big img {
    width: 100%;
    height: auto;
}

h1, h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: magenta; /* Überschriften in Magenta */
}

#the-app {
    padding-top: 100px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.logo-small, .logo-small-r {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.logo-small img, .logo-small-r img {
    width: 100%;
    height: auto;
}

.download-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    outline: none;
}

.download-buttons img {
    width: 15%;
    height: auto;
    margin: 10px;
}

.team-members {
    display: flex;
    justify-content: space-around;
}

.team-member {
    text-align: center;
}

.member-photo {
    width: 100px;
    height: 100px;
    background-color: #444;
    border-radius: 50%;
    margin-bottom: 10px;
}

form {
    display: inline-block;
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: magenta;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.member-photo {
    width: 300px;
    height: 300px;
    background-color: #444;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 5px;
    overflow: hidden;
}

.member-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#features img {
    max-width: 15%;
    margin-top: 1ch;
}

.content p {
    margin-bottom: 20px;
}

.appstore-link {
    background-color: transparent;
    border: none;
    outline: none;
}

